Installiert den mysql-connector

In [1]:
%pip install mysql-connector-python mysql-connector 

import mysql.connector 
from mysql.connector import errorcode

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp312-cp312-manylinux_2_17_x86_64.whl.metadata (1.9 kB)
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 11.7 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Downloading mysql_connector_python-8.3.0-cp312-cp312-manylinux_2_17_x86_64.whl (21.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 9.9 MB/s eta 0:00:00:00:0100:01
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-linux_x86_64.whl size=247951 sha256=8306d7928e8d4855418cd1d7ac4408fedffa3935eacae81274061ed2ff5c07a9
  Stored in directory: /home/vscode/.cache/pip/wheels/03/17/fa/d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector, mysql-connector-python
Successfully installed mysql-connector-2.2.9 mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

Veruscht eine Verbidung herzustellen und gibt einen Error aus wenn es nicht funktioniert. Flls es klppt, wird nichts ausgegeben

In [2]:


try:
  connection = mysql.connector.connect(user='root',host="mysql",password='root',database='abschlussarbeit')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

Von hier ankönnen wir eigene SQL statements hinzufügn um die Datanbank zu beeinflussen

In [5]:
# Entfehrne die '''  am Anfang und Ende um den Code zu aktivieren. Dies ist ein beispiel Eintrag in die Tabelle. Dieser Eintrag verwendet den python Mysql connector.

connection = mysql.connector.connect(user='root',host="mysql",password='root',database='abschlussarbeit')

# Erstellt einen Cursor um SQL Befehle auszuführen
cursor = connection.cursor()

# SQL querry für neuen Eintrag in der Tabelle 'members'
sql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"

# Definiert die Variablen für die Spalten in der Tabelle 'members'
nachname = "Arlt"
vorname = "Johnatan"
spitzname = "Jonny"
age = 18

# Führt den SQL Befehl aus und fügt die Variablen in die Tabelle 'members' ein
cursor.execute(sql, (vorname, nachname, spitzname, age))
connection.commit()

# SQL querry um alle Einträge in der Tabelle 'members' zu selektieren und pro eintrag eine neue Zeile zu erstellen
cursor.execute("SELECT * FROM members")
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Amsler', 'Simon', 'amsi', 17)
(2, 'Schmutz', 'Seth', 'schmutzly', 17)
(3, 'Topp', 'Tobias', 'tobi', 16)
(4, 'Seeli', 'Markus', 'markus', 35)
(5, 'Akkaya', 'Cem', 'cemmy', 18)
(6, 'Kunz', 'Joshua', 'josh', 17)
(7, 'Johnatan', 'Arlt', 'Jonny', 18)

Kock your self out 😉