Installiert den Mysql Connector

In [4]:
%pip install mysql-connector-python mysql-connector 

import mysql.connector 
from mysql.connector import errorcode

Requirement already satisfied: mysql-connector-python in c:\users\u127948\appdata\local\programs\python\python311\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector in c:\users\u127948\appdata\local\programs\python\python311\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

folgendes schaut ob die Verbindung funktioniert und gibt nur dann etwas aus wenn nicht

In [5]:


try:
  connection = mysql.connector.connect(user='root',host="mysql",password='root',port=3306,database='abschlussarbeit')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

2005 (HY000): Unknown MySQL server host 'mysql' (11001)

Von hier an k√∂nnen wir SQL Statements machen um die Daten der DB zu √§ndern

In [6]:
# Entfehrne die '''  am Anfang und Ende um den Code zu aktivieren. Dies ist ein beispiel Eintrag in die Tabelle. Dieser Eintrag verwendet den python Mysql connector.
'''
# Erstellt einen Cursor um SQL Befehle auszuf√ºhren nicht entfehrnen!
connection = mysql.connector.connect(user='root',host="mysql",password='root',
                             database='abschlussarbeit')
cursor = connection.cursor()

# SQL querry f√ºr neuen Eintrag in der Tabelle 'members'
sql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"

# Definiert die Variablen f√ºr die Spalten in der Tabelle 'members'
nachname = "Arlt"
vorname = "Johnatan"
spitzname = "Jonny"
age = 18

# F√ºhrt den SQL Befehl aus und f√ºgt die Variablen in die Tabelle 'members' ein
cursor.execute(sql, (vorname, nachname, spitzname, age))
connection.commit()

'''

'\n# SQL querry f√ºr neuen Eintrag in der Tabelle \'members\'\nsql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"\n\n# Definiert die Variablen f√ºr die Spalten in der Tabelle \'members\'\nnachname = "Arlt"\nvorname = "Johnatan"\nspitzname = "Jonny"\nage = 18\n\n# F√ºhrt den SQL Befehl aus und f√ºgt die Variablen in die Tabelle \'members\' ein\ncursor.execute(sql, (vorname, nachname, spitzname, age))\nconnection.commit()\n\n'

Knock your selfe out üòâ

In [7]:
#sql Statements hier