Installiert den Mysql Connector

In [ ]:
%pip install mysql-connector-python mysql-connector 

import mysql.connector 
from mysql.connector import errorcode

folgendes schaut ob die Verbindung funktioniert und gibt nur dann etwas aus wenn nicht

In [ ]:


try:
  connection = mysql.connector.connect(user='root',host="mysql",password='root',port=3306,database='abschlussarbeit')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

Von hier an k√∂nnen wir SQL Statements machen um die Daten der DB zu √§ndern

In [ ]:
# Entfehrne die '''  am Anfang und Ende um den Code zu aktivieren. Dies ist ein beispiel Eintrag in die Tabelle. Dieser Eintrag verwendet den python Mysql connector.

# Erstellt einen Cursor um SQL Befehle auszuf√ºhren
connection = mysql.connector.connect(user='root',host="mysql",password='root',
                             database='abschlussarbeit')
cursor = connection.cursor()

'''
# SQL querry f√ºr neuen Eintrag in der Tabelle 'members'
sql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"

# Definiert die Variablen f√ºr die Spalten in der Tabelle 'members'
nachname = "Arlt"
vorname = "Johnatan"
spitzname = "Jonny"
age = 18

# F√ºhrt den SQL Befehl aus und f√ºgt die Variablen in die Tabelle 'members' ein
cursor.execute(sql, (vorname, nachname, spitzname, age))
connection.commit()

'''

Knock your selfe out üòâ

In [ ]:
#sql Statements hier