This is used to install the mysql connector

In [5]:
%pip install mysql-connector-python mysql-connector 

import mysql.connector 
from mysql.connector import errorcode

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/vscode/.local/lib/python3.12/site-packages (8.3.0)
Requirement already satisfied: mysql-connector in /home/vscode/.local/lib/python3.12/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

This following code Block is used to check if yourconnection wil work. If you do not get an output or error message it will work.

In [6]:


try:
  connection = mysql.connector.connect(user='root',host="mysql",password='root',port=3306,database='abschlussarbeit')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

Below of here we can make statements to alter the data on our mysql server

In [7]:
# Entfehrne die '''  am Anfang und Ende um den Code zu aktivieren. Dies ist ein beispiel Eintrag in die Tabelle. Dieser Eintrag verwendet den python Mysql connector.

# Erstellt einen Cursor um SQL Befehle auszuführen
connection = mysql.connector.connect(user='root',host="mysql",password='root',
                             database='abschlussarbeit')
cursor = connection.cursor()

'''
# SQL querry für neuen Eintrag in der Tabelle 'members'
sql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"

# Definiert die Variablen für die Spalten in der Tabelle 'members'
nachname = "Arlt"
vorname = "Johnatan"
spitzname = "Jonny"
age = 18

# Führt den SQL Befehl aus und fügt die Variablen in die Tabelle 'members' ein
cursor.execute(sql, (vorname, nachname, spitzname, age))
connection.commit()

'''

'\n# SQL querry für neuen Eintrag in der Tabelle \'members\'\nsql = "INSERT INTO members (nachname, vorname, spitzname, age) VALUES (%s, %s, %s, %s)"\n\n# Definiert die Variablen für die Spalten in der Tabelle \'members\'\nnachname = "Arlt"\nvorname = "Johnatan"\nspitzname = "Jonny"\nage = 18\n\n# Führt den SQL Befehl aus und fügt die Variablen in die Tabelle \'members\' ein\ncursor.execute(sql, (vorname, nachname, spitzname, age))\nconnection.commit()\n\n'